"$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[ui]
# watchman snapshotting is enabled
default-command = ["--ignore-working-copy", "log"]
diff-editor = ":builtin"
diff-formatter = "difft"
show-cryptographic-signatures = true
pager = ":builtin"

[user]
name = "@name@"
email = "@email@"

[signing]
backend = "gpg"
behavior = "own"

[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[git]
private-commits = "private()"

[colors]
"author".fg = "blue"
"change_id".fg = "magenta"
"commit_id".fg = "blue"
"conflict change_id".fg = "red"
"current_working_copy change_id".reverse = true
"current_working_copy commit_id".reverse = true
"empty author".fg = "bright black"
"empty change_id".italic = true
"empty commit_id".fg = "bright black"
"empty commit_id".italic = true
"empty description".fg = "bright black"
"empty description".italic = true
"empty ellipsis".fg = "bright black"
"empty ellipsis".italic = true
"empty timestamp".fg = "bright black"
"empty timestamp".italic = true
"empty".bold = false
"immutable timestamp".fg = "default"
"mark".fg = "bright black"
"node current_working_copy".reverse = true
"node private".fg = "yellow"
"node unsafe".fg = "yellow"
"node wip".fg = "yellow"
"tag" = "yellow"
"tags" = "yellow"
"text link".fg = "blue"
"text warning".bold = true
"text warning".fg = "red"
"timestamp".fg = "bright black"
"unsafe change_id".fg = "yellow"
"unsafe commit_id".fg = "cyan"
"working_copies".fg = "default"

[aliases]
ds = ["diff", "--stat"]
dv = [
  "--config=templates.draft_commit_description=commit_description_verbose(self)",
  "describe",
]
dk = ["diff", "--tool", "kitty"]
ll = ["log", "-T", "builtin_log_detailed"]
l = ["log", "-T", "builtin_log_compact"]

tug = [
  "bookmark",
  "move",
  "--from",
  "streams()",
  "--to",
  "heads(streams()::@- ~ private())",
]
streams = [
  "log",
  "--no-graph",
  "-r",
  "streams()",
  "-T",
  "bookmarks.map(|b| b ++ ' ')",
]

open = ["log", "-r", "open()"]
stack = ["log", "-r", "stack()"]
s = ["stack"]

manage = ["util", "exec", "--", "jj-manage"]
man = ["manage"]

rdiff = ["util", "exec", "--", "@rdiff@"]

[revset-aliases]
"/" = "trunk()"
"mine()" = "author(exact:'@name@') | author(exact:'@email@')"

"wip()" = "description(glob:'wip:*')"
"private()" = "description(glob:'private:*')"

"stack()" = "stack(@, 2)"
"stack(x)" = "stack(x, 2)"
"stack(x, n)" = "ancestors(reachable(x, mutable()), n)"

"streams()" = "heads(::@ & bookmarks())"
"streams(x)" = "heads(::x & bookmarks())"
'base_point(x)' = "heads(immutable_heads() & ::x)"

"open()" = "stack(trunk().. & mine(), 2)"
"open(n)" = "stack(trunk().. & mine(), n)"

'why_immutable(r)' = '(r & immutable()) | roots(r:: & immutable_heads())'

safe_heads = "remote_bookmarks()"

custom_log = '''none()
  | base_point(@)
  | ancestors(@, 10) & trunk()..@
  | trunk()
  | bookmarks()
  | mutable() & visible_heads()
  | fork_point(mutable() & visible_heads())
  | (mutable() & merges())-
'''

[revsets]
short-prefixes = "open(1)"

[template-aliases]
"link(target, text)" = 'raw_escape_sequence("\x1b]8;;" ++ target ++ "\x1b\\") ++ label("text link", text) ++ raw_escape_sequence("\x1b]8;;\x1b\\")'
"italic(text)" = 'raw_escape_sequence("\x1b[3m") ++ text ++ raw_escape_sequence("\x1b[23m")'
"dim(text)" = 'raw_escape_sequence("\x1b[2m") ++ text ++ raw_escape_sequence("\x1b[22m")'

"commit_description_verbose(commit)" = '''
concat(
  commit_description(commit),
  "JJ: ignore-rest\n",
  diff.git(),
)
'''
"commit_description(commit)" = '''
concat(
  commit.description(), "\n",
  "JJ: This commit contains the following changes:\n",
  indent("JJ:    ", diff.stat(72)),
)
'''

annotate_header = '''
if(first_line_in_hunk, surround("\n", "\n", separate("\n",
  separate(" ",
    format_short_change_id_with_hidden_and_divergent_info(commit),
    format_short_id(commit.commit_id()),
    format_short_cryptographic_signature(commit.signature()),
    commit.description().first_line(),
  ),
  commit_timestamp(commit).local().format('%Y-%m-%d %H:%M:%S')
    ++ " "
    ++ commit.author(),
))) ++ pad_start(4, line_number) ++ ": " ++ content
'''

# 00000000 ........ yyyy-mm-dd HH:MM:SS    1:
annotate = '''
if(first_line_in_hunk,
  separate(" ",
    format_short_id(commit.change_id()),
    pad_end(8, truncate_end(8, commit.author().email().local())),
    commit_timestamp(commit).local().format('%Y-%m-%d %H:%M:%S'),
  ),
  pad_end(37, ""),
) ++ pad_start(4, line_number) ++ ": " ++ content
'''

"format_short_change_id_with_hidden_and_divergent_info(commit)" = '''
label(
  separate(" ",
    if(commit.hidden(), "hidden"),
    if(commit.divergent(), "divergent"),
  ),
  format_short_change_id(commit.change_id()),
)
'''
"format_commit_info(commit)" = '''separate(" ",
  format_short_change_id_with_hidden_and_divergent_info(commit),
  format_short_id(commit.commit_id()),
  format_short_cryptographic_signature(commit.signature()),
)'''

"format_commit_bookmarks(commit)" = '''separate(" ",
  commit.working_copies(),
  commit.tags(),
  commit.bookmarks(),
)'''

"format_description(commit)" = '''separate(" ",
  if(empty, label("empty", "(empty)")),
  if(commit.description(),
    commit.description().first_line(),
    if(!empty, label("description placeholder", "(no description set)")),
  ),
)'''

# longest reasonable non-description part:
# zzzzzzzz ◼ 00000000  xx minutes ago
# "minutes" is longest duration specifier, max 2 digits
"description_width()" = "__width - 33"

"log_labels_for(x)" = '''separate(' ',
  if(x.current_working_copy(), "current_working_copy"),
  if(x.immutable(), "immutable"),
  if(x.contained_in("safe_heads.."), "unsafe"),
  if(x.empty(), "empty"),
  if(x.conflict(), "conflict"),
)'''

"format_short_cryptographic_signature(signature)" = '''
if(signature, label("signature status " ++ signature.status(),
  coalesce(
    if(signature.status() == "good", "✓︎"),
    if(signature.status() == "unknown", "?"),
    "x",
  ),
))
'''

"info_of(x)" = '''separate(" ",
  x.tags(),
  x.bookmarks(),
  if(!mine, x.author().name()),
  format_short_cryptographic_signature(x.signature()),
)'''

"padded_description(x)" = '''label("padded_description",
truncate_end(description_width(),
  pad_end(description_width() + 1,
    separate(' ',
      if(x.conflict(), "(conflict)"),
      if(x.description(),
        x.description().first_line(),
        if(!empty, label("description placeholder", "(no description)"))
      ),
    ),
  label("mark", "·")),
label("mark", "·") ++ label("ellipsis", info_of(x))),
)'''

this_is_my_log_template = '''label(log_labels_for(self), separate(label("mark", ' '),
  format_short_change_id_with_hidden_and_divergent_info(self),
  padded_description(self),
  commit_id.shortest(8),
) ++ " " ++ author.timestamp().ago()
++ "\n"
++ if(!empty && !description, diff.summary())
)'''

[templates]
git_push_bookmark = '"bryce/push-" ++ change_id.short()'
draft_commit_description = "commit_description(self)"

file_annotate = "annotate_header"

log = "this_is_my_log_template"
log_node = '''
label("node", coalesce(
  if(!self, label("elided", "~")),
  label(
    separate(" ",
      if(current_working_copy, "working_copy"),
      if(conflict, "conflict"),
      if(immutable, "immutable"),
      if(description.starts_with("wip:"), "wip"),
      if(description.starts_with("private:"), "wip"),
    ),
    coalesce(
      if(current_working_copy, "@"),
      if(conflict, "x"),
      if(immutable, "◆"),
      if(description.starts_with("wip:"), "!"),
      if(description.starts_with("private:"), "◇"),
      "○",
    )
  )
))
'''
