"$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[ui]
# watchman snapshotting is enabled
default-command = ["--ignore-working-copy", "log"]
diff-editor = ":builtin"
diff-formatter = "difft"
show-cryptographic-signatures = true
pager = ":builtin"

[user]
name = "@name@"
email = "@email@"

[signing]
backend = "gpg"
behavior = "own"

[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[git]
private-commits = "private()"

[merge-tools.git-pkgs]
program = "git-pkgs"
diff-args = ["diff-file", "--color=always", "$left", "$right"]
diff-invocation-mode = "file-by-file"
edit-args = []

[aliases]
ds = ["diff", "--stat"]
dv = [
  "--config=templates.draft_commit_description=commit_description_verbose(self)",
  "describe",
]
dk = ["diff", "--tool", "kitty"]
ll = ["log", "-T", "builtin_log_detailed"]
l = ["log", "-T", "builtin_log_compact"]

tug = ["bookmark", "advance"]

open = ["log", "-r", "open()"]
stack = ["log", "-r", "stack()"]
s = ["stack"]

manage = ["util", "exec", "--", "jj-manage"]
man = ["manage"]

forge = ["util", "exec", "--", "jj-forge"]
f = ["forge"]

rdiff = ["util", "exec", "--", "@rdiff@"]

[revsets]
bookmark-advance-to = "heads(streams()::@- ~ private()::)"

[revset-aliases]
"/" = "trunk()"
"_" = "fork_point(trunk() | @)"
"_(x)" = "fork_point(trunk() | x)"
"mine()" = "author(exact:'@name@') | author(exact:'@email@')"

"wip()" = "description(glob:'wip:*')"
"private()" = "description(glob:'private:*')"

"stack()" = "stack(@, 2)"
"stack(x)" = "stack(x, 2)"
"stack(x, n)" = "ancestors(reachable(x, mutable()), n)"

"streams()" = "heads(::@ & bookmarks())"
"streams(x)" = "heads(::x & bookmarks())"
'base_point(x)' = "heads(immutable_heads() & ::x)"

"open()" = "stack(trunk().. & mine(), 2)"
"open(n)" = "stack(trunk().. & mine(), n)"

'why_immutable(r)' = '(r & immutable()) | roots(r:: & immutable_heads())'

safe_heads = "remote_bookmarks()"

custom_log = '''none()
  | base_point(@)
  | ancestors(@, 10) & trunk()..@
  | trunk()
  | bookmarks()
  | mutable() & visible_heads()
  | fork_point(mutable() & visible_heads())
  | (mutable() & merges())-
'''
