[colors]
"author".fg = "blue"
"change_id".fg = "magenta"
"ci fail" = "red"
"ci pass" = "green"
"ci running" = "yellow"
"ci".italic = false
"commit_id".fg = "blue"
"conflict change_id".fg = "red"
"current_working_copy change_id".reverse = true
"current_working_copy commit_id".reverse = true
"empty author".fg = "bright black"
"empty change_id".italic = true
"empty commit_id".fg = "bright black"
"empty commit_id".italic = true
"empty description".fg = "bright black"
"empty description".italic = true
"empty ellipsis".fg = "bright black"
"empty ellipsis".italic = true
"empty timestamp".fg = "bright black"
"empty timestamp".italic = true
"empty".bold = false
"immutable timestamp".fg = "default"
"mark".fg = "bright black"
"node current_working_copy".reverse = true
"node private".fg = "yellow"
"node unsafe".fg = "yellow"
"node wip".fg = "yellow"
"tag" = "yellow"
"tags" = "yellow"
"text link".fg = "blue"
"text warning".bold = true
"text warning".fg = "red"
"timestamp".fg = "bright black"
"unsafe change_id".fg = "yellow"
"unsafe commit_id".fg = "cyan"
"working_copies".fg = "default"
